.wrapper{
  margin:auto;
  width:500px;
}
/*provides space around an element*/
.cushion{
  padding:10px;
}
body{
  background-color:bisque;
}
div{
  background-color:antiquewhite;
  border-radius:8px;
}
header{
  background-color:antiquewhite;
}
footer{
  background-color:antiquewhite;
  text-align:center;
}
a:link{
  color:olive;
}
a:visited{
  color:peru;
}
a:hover{
  color:aquamarine;
}
a:active{
  color:turquoise;
}
/*padding that makes the heading look less crowded in the top right corner*/
h2{
  padding-top:25px;
  padding-left:25px;
  font-size:25px;
  
}
.text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rosybrown;
}
/*creates space around sides of text so it can have a visually neat margin inside the container*/
.text-cushion{
  padding-left:25px;
  padding-right:25px;
}
/*to be used on the last element in the container to add some space below*/
.last-cushion{
  padding-bottom:25px;
}
h1{
  height:5px;
  font-size:35px;
}
/*padding here helps the text to align better with the h1 text*/
h3{
  padding-left:10px;
  font-size:20px;
}
p{
  font-size:20px;
}
ol, ul{
  font-size:20px;
}
a{
  font-size:18px;
}
